@import "@coss/ui/globals.css";

:root {
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-zinc-800) 80%,
    var(--sidebar)
  );
}

.dark {
  --background: color-mix(
    in srgb,
    var(--color-neutral-950) 97%,
    var(--color-white)
  );
  --sidebar: color-mix(
    in srgb,
    var(--color-neutral-950) 96%,
    var(--color-white)
  );
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-zinc-200) 80%,
    var(--sidebar)
  );
}
