@import "@coss/ui/globals.css";

:root {
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-zinc-800) 80%,
    var(--sidebar)
  );
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.9375rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1.0625rem;
  --text-base--line-height: 1.5rem;
  --text-lg: 1.1875rem;
  --text-lg--line-height: 1.75rem;
  --font-weight-normal: 350;
  --font-weight-medium: 450;
  --font-weight-semibold: 550;
  --font-weight-bold: 650;
}

.dark {
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-zinc-200) 80%,
    var(--sidebar)
  );
}
